.root{
    -fx-background-color: #333333;
    
}
.button{
    -fx-background-color: #d81e05;
    -fx-text-fill: #ffffff;
    
    -fx-border-width: 0;
    -fx-border-color: #333333;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; 
}



HBox{
    -fx-background-color: #d81e05;
}

VBox{
    -fx-background-color: #d81e05;
}

.table-view .column-header-background .label{
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: #ffffff;
}
.tablenormaal{
    -fx-text-fill: black;
    -fx-background-color: #d81e05;
}
.table-view .column-header-background{
    -fx-background-color: #d81e05;
}

.chart-legend-item{
    -fx-text-fill: black;
}

.chart-plot-background {
    -fx-background-color: transparant;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.default-color0.chart-series-line { -fx-stroke: blueviolet; }
.default-color1.chart-series-line { -fx-stroke: #ff9900; }
.default-color2.chart-series-line { -fx-stroke: #d81e05; }
 
.default-color0.chart-line-symbol { -fx-background-color: blueviolet, white; }
.default-color1.chart-line-symbol { -fx-background-color: #ff9900, white; }
.default-color2.chart-line-symbol { -fx-background-color: #d81e05, white; }

.axis{
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: white;
}

.axis-label {
   -fx-text-fill: white; 
}

.chart-pie-label {
    -fx-fill: white;
    -fx-font-size: 1em;
} 